body{
    
  background-color: brown;
    
}

.box{
   
    
 background-color:rgb(102, 154, 102);
height: 1150px;
width: 500px;
padding-left: 0%,5,10,15,20;
margin-right: 0%,5,10,15,20;
padding: auto;
margin: auto;

   
    
}

